#splash {
  background: linear-gradient(-45deg, #9071ff, #2a36e8);
  height: 100vh;
}

#splash-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  height: 80px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#splash-logo {
  height: 40px;
  width: 140px;
  background-image: image-url('eris.png');
}

#splash-header-links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  line-height: 40px;
}

#splash-header > a {
  text-align: center;
  line-height: 10px;
  box-sizing: border-box;
  width: 65px;
  height: 40px;
  background-color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 20px;
}

#splash-header-links > a {
  color: white;
  font-weight: 500;
}

#splash-main-element {
  display: flex;
}

#splash-title {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: white;
}

