@keyframes splash-float {
  0% {transform: translateX(0);}
  100% {transform: translateX(1000px);}
}

@keyframes splash-input-open {
  0% {width: 60px}
  100% {width: 300px}
}

.splash {
  background-color: #2a5ee8;
  height: 625px;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;

  
}

.splash-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  height: 80px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 100;

  i {
    color: gold;
    margin-right: 5px;
    line-height: 5px;
  }
}

.splash-logo {
  font-size: 25px;
  font-family: 'AmericanCaptain';
  line-height: 45px;
  width: 85px;
  color: white;
  text-align: right;
}

.splash-header-links {
  display: flex;
  justify-content: space-between;
  width: 450px;
  line-height: 40px;
}

.splash-header > a:last-child {
  text-align: center;
  line-height: 10px;
  box-sizing: border-box;
  width: fit-content;
  height: 40px;
  background-color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 20px;

  transition: all 0.5s;

  &:hover {
    color: #4670e0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
  }
}

.splash-header-links > a {
  color: white;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}




.splash-main-element {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  display: flex;
  width: 2590px;
  height: 545px;
  margin: auto 0;

  


  .splash-main-box {
    margin: 130px auto 0;
    height: 290px;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    align-items: center;

    h1 {
      font-size: 55px;
      color: white;
      text-align: center;
      font-weight: 800;
      margin-bottom: 60px;
    }
  
  
    p {
      margin: 0 auto;
      font-size: 20px;
      width: 770px;
      height: 100px;
      text-align: center;
      line-height: 32px;
      color: white;
      margin-bottom: 40px;
    }

    button, a {
      color: white;
      background-color: #23272a;
      font-size: 18px;
      border-radius: 28px;
      padding: 16px 32px;
      border: none;
      cursor: pointer;
      transition: box-shadow 0.5s;

      &.demo-login {
        transition: all 0.5s;
        background: white;
        color: black;
        margin-right: 20px;

        &:hover {
          color: #4670e0;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
        }
      }
      
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
      }

      &:focus {
        outline: none;
      }
    }

    .splash-input {
      display: flex;
      animation: splash-input-open 1s;
      width: 300px;
      position: relative;

      input {
        background-color: white;
        font-size: 16px;
        border-radius: 28px;
        padding: 16px 32px;
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
      

      i {
        color: white;
        padding: 10px 20px;
        font-size: 17px;
        position: absolute;
        background-color: #4670e0;
        right: 9px;
        border-radius: 28px;
        top: 6px;
      }
    }
  }


}




.floaters {
  img {
    position: absolute;
  }

  .splash-float-left {
    z-index: 100;
    bottom: 0;
    left: 0;
  }
  .splash-float-right {
    z-index: 100;
    bottom: 0;
    right: -20px;
  }
  .splash-float-mid {
    z-index: 99;
    bottom: 0;
    left: 800px;
  }
  .boat {
    z-index: 75;
    left: 810px;
    top: 50px;
    animation: splash-float 200s;
  }
  .balloons {
    z-index: 75;
    left: 1000px;
    top: 415px;
    animation: splash-float 100s;
  }
  .island1 {
    z-index: 75;
    left: 1550px;
    top: 10px;
    animation: splash-float 235s;
  }
  .island2 {
    z-index: 75;
    left: 250px;
    top: 10px;
    animation: splash-float 400s;
  }

  img[class^=c] {
    z-index: 50;
  }
  .c1 {
    top: 300px;
    animation: splash-float 420s;
  }
  .c2 {
    top: 185px;
    left: 1300px;
    animation: splash-float 400s;
  }
  .c3 {
    top: 240px;
    left: 1450px;
    animation: splash-float 460s;
  }
  .c4 {
    top: 235px;
    left: 300px;
    animation: splash-float 480s;
  }
  .c6 {
    top: 480px;
    left: 1180px;
    animation: splash-float 370s;
  }
  .c7 {
    left: 1500px;
    animation: splash-float 400s;
  }
  .c8 {
    top: 200px;
    left: 700px;
    animation: splash-float 480s;
  }
}


.splash-footer {
  background-color: #23272a;
  width: 100%;
  min-height: calc(100vh - 625px);

  > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 32% 17% 17% 17% 17%;
    
    border-bottom: 1px solid #4670e0;
    padding-bottom: 40px;
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      color: #4670e0;
      font-weight: 800;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      width: 250px;
      color: white;
    }

    ul {
      margin-top: 5px;
    }

    li {
      font-size: 16px;
      line-height: 28px;
      color: white;

      a:hover {
        text-decoration: underline;
      }
    }

    li:first-child {
      color: #4670e0;
    }
  }


  .footer-buttons {
    display: flex;
    justify-content: space-between;

    a:last-child {
      text-align: center;
      line-height: 10px;
      box-sizing: border-box;
      width: fit-content;
      height: 40px;
      background-color: #4670e0;
      color: white;
      font-size: 14px;
      padding: 15px;
      border-radius: 20px;
    }
    i {
      color: gold;
      margin-right: 5px;
      line-height: 5px;
    }
    .splash-logo {
      width: 65px;
    }
  }
}
